*{
    margin: 0px;
    padding: 0px;
}



.banner-container-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}
.banner-container-one-left{
    width: 40%;
    margin: auto;
}
.banner-one-image{
    height: 500px;
    padding-top: 35px; 
    padding-right: 100px;
}
.banner-one-title{
    font-size: 60px;
    color: #272727;
}
.banner-one-description{
    font-size: 14px;
   padding: 13px 0px;
   color: rgba(39, 39, 39, 0.60);
}
.banner-one-button{
    font-size: 15px;
    color: #FFF;
    padding: 15px 35px;
    border-radius: 5px;
    background: #E55473;
    border: none;
}






.featured-container{
    text-align: center;
}
.featured-title{
    font-size: 30px;
    padding-top: 110px;
    color: #272727;
}
.featured-description{
    font-size: 14px;
    padding-top: 25px;
    color: rgba(39, 39, 39, 0.60);
    
}



.slid-one{
    height: 336.25px;
    width: 290px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 187.5px 187.5px 0px 0px;
}
.slid-two{
    height: 336.25px;
    width: 290px;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 187.5px 187.5px 0px 0px;
}
.slid-three{
    height: 336.25px;
    width: 290px;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 187.5px 187.5px 0px 0px;
}
.slid-picture{
    height: 267.5px;
    width: 193.75px;
    padding: 68px 50px 0px 50px;
}
.slid-title{
    text-align: center;
    color: #272727;
    font-size: 15px;
    padding: 20px 0px 80px 0px;
}
.featured-slides{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.service-system{
    height: 200px;
    width: 80%;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 80px;
}
.service-system-details{
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
}
.service-system-icon{
    height: 55px;
    padding-right: 10px;
}

